<app-header></app-header>
<div class="container">

   <div class="row">
      <div *ngFor="let evt of eventService.event" class="col-md-4">
         <div  class="card" style="width: 18rem;" style="padding:10px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRvKWA6GzeJed4pt4FvvL9FIW2giyzhCXpGv46TGBxGzForlzM6&usqp=CAU" class="card-img-top" alt="..." style="height: 250px;">
            <div  class="card-body">
              <h5 class="card-title">{{evt.evTitle}}</h5>
              <p class="card-text">{{evt.evDescription}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>      
   </div>
</div>